.home{
    display: flex;
    justify-content: space-between;

}

.main-content{
    width: 80%;
}

.title-container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    /* background-color: red; */
    margin-bottom: 32px;
}

.flex{
    display: flex;
    gap: 64px;
}

.brands{
    padding-top: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.brands-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}