header{
    position: sticky;
    top: 0;
}

nav{
    border-bottom: 1px solid;
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    margin-bottom: var(--gapping-tape);
    background-color: rgba(249, 245, 246, .8);

    & div{
        display: flex;
        align-items: center;
        gap: 24px;

        & span{
            transition: .3s;
        }

        & span:hover{
            scale: 1.1;
        }
    }
}